.container {
  width: 70rem;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px 200px;
  grid-gap: 1rem;
}

.mainBlock {
  flex: 1 1 auto;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
}

.square {
  grid-column: span 2;
  grid-row: span 2;
}

.horizontalRectangle {
  grid-column: span 2;
}

.verticalRectangle {
  grid-row: span 2;
}

.normalCase {
  grid-column: span 1;
  grid-row: span 1;
}

.scrollUpBtn {
  visibility: visible;
  position: fixed;
  right: 70px;
  bottom: 20px;
}
.scrollUpBtnHidden {
  visibility: hidden;
}
